<div class="container py-5">

  <div class="row justify-content-center">
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="d-flex">
            <div class="d-flex me-auto">
              <input #selectedField type="text" class="form-control me-2" id="searchField" name="searchField"
                (keydown)="onHandleKeyDown($event)" [(ngModel)]="searchField" placeholder="news ...">
              <button type="button" class="btn nga-btn-primary btn-sm nga-btn" (click)="search()"><i
                  class="fa fa-search"></i></button>
            </div>
            <div class="d-flex me-auto d-none d-md-block">
              <div class=" pt-2 ml-4">
                <b>
                  <span style="color:gray;">7 Movies</span>
                </b>
              </div>
            </div>
            <div class="d-flex ms-auto">
              <button class="btn nga-btn-primary btn-sm nga-btn me-2" type="button" routerLink="/addInvitation">
                <i class="fas fa-plus" aria-hidden="true"></i>
              </button>
              <button class="btn nga-btn-primary btn-sm nga-btn" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                <span class="d-none d-sm-inline-block">&nbsp;
                  <strong>Filters</strong>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <div class="collapse" id="collapseFilters">
            <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
              <div class="nga-card mb-2">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 mb-4">
                      <h6>
                        <strong>Date début</strong>
                      </h6>
                      <hr>
                      
                      <div class="form-check">
                        <input type="date" id="start" name="trip-start"
                        formControlName="start"
                        value="2020-07-22"
                        min="2020-01-01" max="2022-12-31">
                      
                      </div>
                  
                       
               
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 mb-4">
                      <h6>
                        <strong>Date fin</strong>
                      </h6>
                      <hr>
                      
                      <div class="form-check">
                        <input type="date" id="start" name="trip-start"
                        formControlName="end"

                        value="2020-07-22"
                        min="2020-01-01" max="2022-12-31">
                      
                      </div>
                  
                       
               
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 mb-4">
                      
                       
                      
                      <div class="form-check">
                        <button type="submit" class="w-100 btn nga-btn nga-btn-primary mb-4">Filtrer</button>
                      
                      </div>
                  
                       
               
                    </div>
                    
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col">
          <div *ngFor="let badge of badges; let i=index" class="nga-badge" (click)="closeBadge(badge.name)"><i
              class="{{ badge.icon }} me-1"></i>{{ badge.caption }}<i class="close fas fa-times"></i></div>
        </div>
      </div>
  
     
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">

                        <h4 class="card-title ">Invitations</h4>
                        <p class="card-category"> Here is a table of all Invitations</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
 
      <table  class="table table-hover" datatable  
         >

            <thead class=" text-primary">
                <tr>
                    <th class="font-weight-bold">news id</th>
                    <th class="font-weight-bold"> invitationStatus</th>
                    <th class="font-weight-bold">  Status</th>
                                        <th class="font-weight-bold"> publishedat</th>
                                        <th class="font-weight-bold"> rating</th>

                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                 <tr *ngFor="let student of students ">
                    <td class="font-weight-bold text-primary"> {{student.invitation_id}}</td>
                    <td>{{student.invitationBody}}</td>
                    <td>{{student.invitationStatus}}</td>
                    <td>{{student.invitationTitle}}</td>

                    <td>{{student.invitationType}}</td>
                    <td><button (click)="deleteEvent(student.invitation_id)" class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>


                  </tr>
            </tbody><br>
        </table>
    </div>
  </div>

  <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
                  <form [formGroup]="studentupdateform" #updstu >
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title" style="text-align: center">Update news</h4>

              </div>

              <!-- Modal body -->
              <div class="modal-body" *ngFor="let student of studentlist " >
                  <div [hidden]="isupdated">

                      <input type="hidden" class="form-control"  formControlName="news_id" [(ngModel)]="student.news_id">
                              <div class="form-group">
                                  <label >Student Name</label>
                                  <input type="text" class="form-control"  formControlName="newsTitle" [(ngModel)]="student.newsTitle"  >
                              </div>

                              <div class="form-group">
                                  <label >Student Email</label>
                                  <input type="text" class="form-control" formControlName="newsDescription" [(ngModel)]="student.newsDescription">
                              </div>

                              <div class="form-group">
                                  <label >StudentId</label>
                                  <input type="date" class="form-control" formControlName="news_id" [(ngModel)]="student.news_id">
                              </div>
                    </div>
                    <div [hidden]="!isupdated">
                        <h4>Student Detail Updated!</h4>
                    </div>

              </div>

              <!-- Modal footer -->
              <div class="modal-footer" >
                <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>
              </div>

          </form>
            </div>
          </div>
        </div>

    </div>
</div>
</div>
</div>

    </div>
  </div>
  <section>
    <div class="modal fade" id="newsModal" role="dialog" tabindex="-1" aria-labelledby="youtube Player"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header clearfix d-block d-sm-none d-flex justify-content-center">
            <button type="button" class="btn btn-sm btn-outline-primary btn-rounded btn-md ml-4"
              data-bs-dismiss="modal">
              <strong>Close</strong>
            </button>
          </div>
          <div class="modal-body">
            <div *ngIf="playerLoaded" class="nga-embed nga-embed-youtube nga-z-depth">
              <iframe class="nga-embed-item" [src]="('https://www.youtube.com/embed/' + player ) | safe"
                allowfullscreen></iframe>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button"
              class="clearfix d-none d-sm-inline-block d-md-inline-block d-lg-inline-block d-xl-inline-block btn btn-outline-primary btn-sm btn-rounded btn-md"
              data-bs-dismiss="modal"><strong>Close</strong></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>